body {
    font-family: 'Arimo', sans-serif;
}

a {
    text-decoration: none;
}

table {
    text-transform: uppercase;
    border-top: 24px solid #3a4965;
    border-bottom: 32px solid #3a4965;
    border-left: 22px solid #3a4965;
    border-right: 30px solid #3a4965;
}

th {
    box-shadow: inset 10px 0px 5px -10px rgba(0, 0, 0, 0.27);
    text-align: center;
    background-color: #fafafa;
    color: #484848;
}

td {
    box-shadow: inset 10px 0px 5px -10px rgba(0, 0, 0, 0.27);
    text-align: center;
    color: #484848;
    text-transform: uppercase;
    font-size: 16px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

th:first-child {
    font-weight: 700;
}

.offer {
    padding-left: 49px;
    padding-right: 49px;
}

.offer-small {
    font-size: 18px;
}

.offer-big {
    font-size: 30px;
}

.pricing-plan-name {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 25px;
}

.plan-name-standart {
    background-color: #89c331;
}

.plan-name-ultimate {
    font-size: 30px;
    background-color: #f04a56;
}

.plan-name-premium {
    background-color: #20807c;
}

.price {
    background-color: #fafafa;
}

.price-text {
    font-size: 60px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 33px;
    display: inline-block;
}

.sup {
    vertical-align: super;
    font-size: 45%;
}

.price-text::after {
    content: "per month";
    font-size: 18px;
    position: relative;
    left: -35px;
}

.storage td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.bandwidth td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.emails td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.support td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.products td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.users td {
    padding-top: 29px;
    padding-bottom: 27px;
}

.fas {
    color: #848484;
    font-size: 24px;
    line-height: 28px;
    margin-right: 12px;
}

.buttons-link {
    margin: 30px auto;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 192px;
    height: 49px;
    box-sizing: border-box;
    padding: 18px 0;
}

.link-contact-us {
    background-color: #484848;
    border-bottom: 7px solid #404040;
    transition: 0.4s;
}

.link-contact-us:hover {
    background-color: #f2f2f2;
    border: 1px solid #484848;
    color: #484848;
}

.linl-standart {
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
    transition: 0.4s;
}

.linl-standart:hover {
    background-color: #f2f2f2;
    border: 1px solid #89c331;
    color: #89c331;
}

.link-ultimate {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
    transition: 0.4s;
}

.link-ultimate:hover {
    background-color: #f2f2f2;
    border: 1px solid #f04a56;
    color: #f04a56;
}

.link-premium {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
    transition: 0.4s;
}

.link-premium:hover {
    background-color: #f2f2f2;
    border: 1px solid #20807c;
    color: #20807c;
}
